*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1000px;
    margin: auto;
    position: relative;
}

.row-1{
    position: absolute;
    top: 0;
}

.row-2{
    position: absolute;
    top: 480px;
}

.box-photo img{
    height: 400px;
    width: 100%;
    object-fit: contain;
}

.box-left, .box-central, .box-right{
    float: left;
    width: 33%;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.box-central{
    margin: 0 0.5%;
}

.box-photo{
    position: relative;
}

.favorite{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    right: 0;
    top: 10px;
    text-align: center;
}

.favorite::after{
    content: "\2665";
    font-size: 20px;
    line-height: 25px;
}

.discount-50{
    position: absolute;
    background-color: rgb(235, 0, 55);
    left: 0;
    bottom: 15px;
}

.discount-50::after{
    content: "-50%";
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    padding: 3px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.sostenibilità{
    position: absolute;
    background-color: rgb(0, 135, 90);
    bottom: 15px;
    left: 35px;
}

.sostenibilità::after{
    content: "Sostenibilità";
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    padding: 3px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.discount-30{
    position: absolute;
    background-color: rgb(235, 0, 55);
    left: 0;
    bottom: 15px;
}

.discount-30::after{
    content: "-30%";
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    padding: 3px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.sostenibilità-2{
    position: absolute;
    background-color: rgb(0, 135, 90);
    bottom: 15px;
    left: 0;
}

.sostenibilità-2::after{
    content: "Sostenibilità";
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    padding: 3px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.brand{
    font-size: 12px;
}

.model{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.price{
    font-size: 12px;
}

.discounted-price{
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.previous-price{
    text-decoration: line-through;
}

.image-1 {
    display: block;
}

.image-2 {
    display: none;
}

.cambio-immagine {
}

.cambio-immagine:hover .image-1 {
   display: none;
}

.cambio-immagine:hover .image-2 {
   display: block;
}