@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.container{
    width: 80%;
    max-width: 1000px;
    margin: auto;
    position: relative;
    margin-top: 20px;
}

.row{
    margin-bottom: 40px;;
}

.box-photo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.box-left, .box-central, .box-right{
    float: left;
    width: 32%;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.box-central{
    margin: 0 2%;
}

.box-photo{
    position: relative;
}

.favorite{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    right: 0;
    top: 20px;
    text-align: center;
}

.favorite::after{
    content: "\2665";
    font-size: 20px;
    line-height: 25px;
}

.discount-30, .discount-50{
    position: absolute;
    background-color: rgb(235, 0, 55);
    left: 0;
    bottom: 20px;
}

.discount-50::after{
    content: "-50%";
}

.discount-30::after{
    content: "-30%";
}

.discount-30::after, .discount-50::after{
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    padding: 3px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.sostenibilità{
    position: absolute;
    background-color: rgb(0, 135, 90);
    bottom: 20px;
    left: 35px;
}

.sostenibilità-2{
    position: absolute;
    background-color: rgb(0, 135, 90);
    bottom: 20px;
    left: 0;
}

.sostenibilità::after, .sostenibilità-2::after{
    content: "Sostenibilità";
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    padding: 3px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.brand, .price{
    font-size: 12px;
}

.model{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.price{
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.previous-price::after{
    content: "29,99 €";
    text-decoration: line-through;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.image-1{
    display: block;
}

.image-2{
    display: none;
}

.cambio-immagine:hover .image-1{
   display: none;
}

.cambio-immagine:hover .image-2{
   display: block;
}

.favorite:hover{
    color: rgb(255, 0, 0);
}